@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-gray-3: #898989;
  --color-gray-100: #242424;

  /* Gaps */
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-7xl: 26px;
}
